/* SETTINGS-------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

UTILS------------------------------------------------------
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

DEBUG---------------------------------------------------------


.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
  border: 3px dashed red;
}
 */
